#bag {
    width: 200px;
    height: 539px;
    margin: 0 auto;
    background: url("/Punch Bag/img/bag.png") center no-repeat;
    background-size: 80%;
}
#bag.burst {
    background: url("/Punch Bag/img/bag-burst.png") center no-repeat;
    background-size: 80%;
}

#bag-health{
    width: 200px;
    border: 2px solid #000000;
    margin: 0 auto 20px auto;
}

#bag-health div{
    height: 20px;
    background: crimson;
}

#controls {
    display: flex;
    justify-content: center;
}

#controls button{
    margin: 0 5px;
}